@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&display=swap");
@import url(//db.onlinewebfonts.com/c/23c0fcab84d99da0de762de7e220a6e1?family=Europa);
@font-face {
  font-family: "Europa";
  src: url("//db.onlinewebfonts.com/t/23c0fcab84d99da0de762de7e220a6e1.eot");
  src: url("//db.onlinewebfonts.com/t/23c0fcab84d99da0de762de7e220a6e1.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/23c0fcab84d99da0de762de7e220a6e1.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/23c0fcab84d99da0de762de7e220a6e1.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/23c0fcab84d99da0de762de7e220a6e1.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/23c0fcab84d99da0de762de7e220a6e1.svg#Europa")
      format("svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Exo 2", sans-serif;
}

h3 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.5rem;
}

h1 {
  font-size: 2.5rem;
}

p,
li,
button {
  font-family: "Europa", sans-serif;
  font-size: 1.3rem;
  list-style: none;
}

cite {
  font-family: "Europa", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
}

blockquote {
  font-family: "Europa", sans-serif;
  font-style: italic;
  font-size: 1.4rem;
}

.hero-container {
  width: 100%;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.hero-title-container {
  text-align: center;
}

.hero-subtitle-container {
  padding-top: 32px;
  font-size: 1.5rem;
  text-align: center;
}

.hero-avatar-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

.hero-avatar-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.info-container {
  padding-top: 80px;
  padding-bottom: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  background-color: #6e07f3;
  color: aliceblue;
}

.info-title-container {
  font-size: 1.8rem;
}

.info-title-container,
.info-subtitle-container,
.info-quote-container {
  width: clamp(750px, 80%, 1000px);
}
.skills-container {
  width: clamp(750px, 80%, 1200px);
  position: relative;
  top: -160px;
  z-index: 9;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(207, 207, 207);

  gap: 32px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.12);
}

.skills-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 48px;
  padding-top: 64px;
  width: 50%;
}

.skills-section-container:first-of-type {
  border-right: 1px solid rgb(224, 224, 224);
}

.skills-section-container * {
  font-size: 1.2rem;
}

.skills-section-container p {
  font-size: 1.2rem;
  padding-bottom: 32px;
}

.skills-section-container h2 {
  font-size: 1.5rem;
  padding-bottom: 16px;
  padding-top: 32px;
}
.skills-section-container h3 {
  font-size: 1.3rem;
  padding-bottom: 10px;
  color: #6e07f3;
  font-weight: normal;
}

.skills-icon-container {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #36e6a2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-container-title {
  font-size: 1.9rem;
}

.company-logo-container img {
  height: auto;
  width: 325px;
}

.header-container {
  display: flex;
  justify-content: flex-start;
  padding: 16px;
  padding-left: 32px;
}

.content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-logo {
  height: 75px;
  width: 75px;
}

.logo-white-container,
.logo-white-container img {
  width: 150px;
  height: 150px;
}

.skills-icon-container > * {
  font-size: 2.5rem;
}

.footer-container {
  background-color: #6e07f3;
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  gap: 32px;
}

.footer-container * {
  color: aliceblue;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.1rem;
}

.react-splash {
  font-size: 0.9rem;
}

.footer-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.socials-container {
  width: clamp(750px, 80%, 1200px);
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background-color: #141c3a;
  color: rgb(215, 228, 238);
  position: relative;
  top: 80px;
  z-index: 9;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.192);
}

.socials-title {
  padding-bottom: 20px;
}

.socials-subtitle {
  padding-bottom: 32px;
}

.socials-array-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.socials-icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9rem;
  color: aliceblue;
  background-color: #141c3a;
  border: 1px solid rgb(41, 255, 184);
  transition: background-color 0.3s, color 0.3s;
}

.socials-icon:hover {
  cursor: pointer;
  color: #141c3a;
  background-color: aliceblue;
  border: 2px solid aliceblue;
}

.companies-section-container {
  width: clamp(750px, 80%, 1200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.companies-logo-array-container {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: auto auto;
  gap: 20px;
  padding: 48px;
}

.company-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0);
  border-radius: 16px;
}

.company-logo-container:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.12);
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 0px;
  padding-bottom: 140px;
  width: clamp(750px, 80%, 1200px);
}

.projects-container-title {
  padding-bottom: 64px;
}
.project-card-grid {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  gap: 32px;
}

.project-card-container {
  border: 1px solid rgb(207, 207, 207);
  border-radius: 16px;
  overflow: hidden;
  width: clamp(350px, 30%, 500px);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.12);
  padding-bottom: 16px;
  transition: transform 0.3s;
}

.project-card-container:hover {
  transform: scale(1.03);
}

.project-card-container p {
  font-size: 1.05rem;
}

.project-card-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 16px;
  gap: 10px;
}

.project-card-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 0px 0px;
  padding: 0;
}

.project-card-links-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
}

.project-card-link {
  width: 100%;
  text-decoration: none;
}

.project-card-link button {
  width: 100%;
  border-radius: 12px;
  border: none;
  color: white;
  background-color: #232f5a;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  gap: 16px;
}

.project-card-link button:hover {
  background-color: #6e07f3;
  color: white;
  border: none;
  cursor: pointer;
}

.project-card-link button * {
  height: 48px;
}

.project-card-chip-array-container {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.project-card-chip-array-container a label {
  cursor: pointer;
}

.project-card-chip-array-container a:hover {
  cursor: pointer;
  background-color: rgb(218, 218, 218);
  border-radius: 16px;
}
